SQLAlchemy~=1.4.31
SqlAlchemy-Utils~=0.38.2
passlib~=1.7.4
bcrypt~=3.2.0
pydantic~=1.9.0
fastapi~=0.73.0
fastapi-utils~=0.2.1
uvicorn~=0.17.5
python-dotenv~=0.19.2
python-multipart~=0.0.5
mariadb~=1.0.9
Jinja2~=3.0.3
PyJWT~=2.3.0
starlette~=0.17.1
pdfkit~=1.0.0
requests~=2.27.1